.place__title {
  font-size: 5.65vw;
  line-height: 1.05;
  font-weight: 900;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 4.15vw;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 4.17vw;
    line-height: 1;
    padding: 0 16px;
  }
}