.place__image {
  width: 480px;
  height: auto;
  min-width: 320px;
}

@media screen and (max-width: 1023px) {
  .place__image {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 100%;
  }
}