.lead__title {
  align-self: center;
  color: #FFFFFF;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 12.7vw;
    max-width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}