.intro {
 display: flex;
 flex-direction: column;
 max-width: 984px;
 min-width: 288px;
 margin: 92px auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    width: calc(100% - 2 * 24px);
    margin: 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(100% - 2 * 16px);
    margin: 64px auto;
  }
}