.footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  max-width: 1184px;
  margin: 0 auto 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 200px;
    grid-template-columns: minmax(min-content, max-content);
    min-width: 320px;
    margin: 0 auto;
  }
}