.footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  max-width: 1184px;
  margin: 0 auto 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 16px);
    grid-template-columns: minmax(min-content, max-content);
    min-width: 304px;
    margin: 0 auto;
  }
}